@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    /*primary*/
    --text-primary: #e3f2fd;
    --text-primary-50: #e3f2fd;
    --text-primary-100: #bbdffa;
    --text-primary-200: #91ccf8;
    --text-primary-300: #65b7f4;
    --text-primary-400: #43a8f3;
    --text-primary-500: #1f99f1;
    --text-primary-600: #1a8be3;
    --text-primary-700: #1279d1;
    --text-primary-800: #0c68bf;
    --text-primary-900: #004ba0;
    --text-primary-950: #033F82;
    /*secondary*/
    --text-secondary: #FFFEFB;
    --text-secondary-50: #FFFEFB;
    --text-secondary-100: #FFFBF3;
    --text-secondary-200: #FFF8E8;
    --text-secondary-300: #FFF5E0;
    --text-secondary-400: #FFF0D3;
    --text-secondary-500: #FFE9BE;
    --text-secondary-600: #FCDEA4;
    --text-secondary-700: #EFCE8F;
    --text-secondary-800: #DDB974;
    --text-secondary-900: #CFAA65;
    --text-secondary-950: #BB9754;
    /*special*/
    --text-color-1: #4D3407;
    --text-color-2: #FAF7F3;
}
@layer {
    /*color*/
    .text-primary-50 {
        color: var(--text-primary-50);
    }

    .text-primary-100 {
        color: var(--text-primary-100);
    }

    .text-primary-200 {
        color: var(--text-primary-200);
    }

    .text-primary-300 {
        color: var(--text-primary-300);
    }

    .text-primary-400 {
        color: var(--text-primary-400);
    }

    .text-primary-500 {
        color: var(--text-primary-500);
    }

    .text-primary-600 {
        color: var(--text-primary-600);
    }

    .text-primary-700 {
        color: var(--text-primary-700);
    }

    .text-primary-800 {
        color: var(--text-primary-800);
    }

    .text-primary-900 {
        color: var(--text-primary-900);
    }

    .text-primary-950 {
        color: var(--text-primary-950);
    }
    /*secondary*/
    .text-secondary-50 {
        color: var(--text-secondary-50);
    }

    .text-secondary-100 {
        color: var(--text-secondary-100);
    }

    .text-secondary-200 {
        color: var(--text-secondary-200);
    }

    .text-secondary-300 {
        color: var(--text-secondary-300);
    }

    .text-secondary-400 {
        color: var(--text-secondary-400);
    }

    .text-secondary-500 {
        color: var(--text-secondary-500);
    }

    .text-secondary-600 {
        color: var(--text-secondary-600);
    }

    .text-secondary-700 {
        color: var(--text-secondary-700);
    }

    .text-secondary-800 {
        color: var(--text-secondary-800);
    }

    .text-secondary-900 {
        color: var(--text-secondary-900);
    }

    .text-secondary-950 {
        color: var(--text-secondary-950);
    }

    /*background*/
    /*primary*/
    .bg-primary-50 {
        background: var(--text-primary-50);
    }

    .bg-primary-100 {
        background: var(--text-primary-100);
    }

    .bg-primary-200 {
        background: var(--text-primary-200);
    }

    .bg-primary-300 {
        background: var(--text-primary-300);
    }

    .bg-primary-400 {
        background: var(--text-primary-400);
    }

    .bg-primary-500 {
        background: var(--text-primary-500);
    }

    .bg-primary-600 {
        background: var(--text-primary-600);
    }

    .bg-primary-700 {
        background: var(--text-primary-700);
    }

    .bg-primary-800 {
        background: var(--text-primary-800);
    }

    .bg-primary-900 {
        background: var(--text-primary-900);
    }

    .bg-primary-950 {
        background: var(--text-primary-950);
    }
    /*secondary*/
    .bg-secondary-50 {
        background: var(--text-secondary-50);
    }

    .bg-secondary-100 {
        background: var(--text-secondary-100);
    }

    .bg-secondary-200 {
        background: var(--text-secondary-200);
    }

    .bg-secondary-300 {
        background: var(--text-secondary-300);
    }

    .bg-secondary-400 {
        background: var(--text-secondary-400);
    }

    .bg-secondary-500 {
        background: var(--text-secondary-500);
    }

    .bg-secondary-600 {
        background: var(--text-secondary-600);
    }

    .bg-secondary-700 {
        background: var(--text-secondary-700);
    }

    .bg-secondary-800 {
        background: var(--text-secondary-800);
    }

    .bg-secondary-900 {
        background: var(--text-secondary-900);
    }

    .bg-secondary-950 {
        background: var(--text-secondary-950);
    }

    /*border*/
    /*primary*/
    .border-primary-50 {
        border-color: var(--text-primary-50);
    }

    .border-primary-100 {
        border-color: var(--text-primary-100);
    }

    .border-primary-200 {
        border-color: var(--text-primary-200);
    }

    .border-primary-300 {
        border-color: var(--text-primary-300);
    }

    .border-primary-400 {
        border-color: var(--text-primary-400);
    }

    .border-primary-500 {
        border-color: var(--text-primary-500);
    }

    .border-primary-600 {
        border-color: var(--text-primary-600);
    }

    .border-primary-700 {
        border-color: var(--text-primary-700);
    }

    .border-primary-800 {
        border-color: var(--text-primary-800);
    }

    .border-primary-900 {
        border-color: var(--text-primary-900);
    }

    .border-primary-950 {
        border-color: var(--text-primary-950);
    }
    /*secondary*/
    .border-secondary-50 {
        border-color: var(--text-secondary-50);
    }

    .border-secondary-100 {
        border-color: var(--text-secondary-100);
    }

    .border-secondary-200 {
        border-color: var(--text-secondary-200);
    }

    .border-secondary-300 {
        border-color: var(--text-secondary-300);
    }

    .border-secondary-400 {
        border-color: var(--text-secondary-400);
    }

    .border-secondary-500 {
        border-color: var(--text-secondary-500);
    }

    .border-secondary-600 {
        border-color: var(--text-secondary-600);
    }

    .border-secondary-700 {
        border-color: var(--text-secondary-700);
    }

    .border-secondary-800 {
        border-color: var(--text-secondary-800);
    }

    .border-secondary-900 {
        border-color: var(--text-secondary-900);
    }

    .border-secondary-950 {
        border-color: var(--text-secondary-950);
    }

    .text-color-1 {
        color: var(--text-color-1);
    }
    .text-color-2 {
        color: var(--text-color-2);
    }
    .bg-color-1{
        background: var(--text-color-1);
    }
    .bg-color-2{
        background: var(--text-color-2);
    }
}

